.container {
  width: 90%;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 24px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #eeeeee;
}

th,
td {
  border: 1px solid #999;
  padding: 8px;
  text-align: left;
}

button {
  padding: 6px 16px;
  cursor: pointer;
}

.form {
  width: 500px;
  display: grid;
  gap: 10px;
}

.form input {
  padding: 8px;
}

.button-area {
  margin-top: 16px;
  display: flex;
  gap: 12px;
}